{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laptop Delivery E-Commerce</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <!-- Header Section -->
    <header class="header" style=" background-color: #333;">
      <div class="logo">
        <h1><a style="text-decoration: none;color: white;
          font-weight: bold;list-style: none; "href="{% url "home" %}">Electronics Zone</a></li> </h1>
      </div>
      <nav class="nav">
        <ul>
          <li><a href="{% url "home" %}">Home</a></li>
          <li><a href="{% url "product" %}">Products</a></li>
          <li><a href="{% url "contact" %}">Contact</a></li>
        </ul>
      </nav>
      <div class="search-bar">
        <input
          type="text"
          id="search-input"
          placeholder="Search for products..."
        />
        <button type="button" id="search-button">Search</button>
      </div>
    </header>
    {% block content %}{% endblock content %}
    <!-- Hero Section -->
    <footer class="footer">
      <p>&copy; 2024 ElectronicsZone. All rights reserved.</p>
    </footer>

</body>
</html>